# Build results
bin/
obj/

HotelSystemIndustry/bin/
HotelSystemIndustry/obj/

# VS Code docker container
.devcontainer

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code / Visual Studio
.vs/
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Publish output
publish/

# EF migrations snapshot temp
*.db

# NuGet
*.nupkg
packages/

# Submitted documents
HotelSystemIndustry/wwwroot/EventAgreements/

