.bg-goldyellow {
    background-color: #e8c97a;
}

/*******************************************************************************/

.footer-cont {
    width:100%;
    display: flex !important;
    align-content: space-between !important;
    align-items: center !important;
    justify-content: space-around !important;
}

    .footer-cont * {
        display: flex !important;
        align-content: center !important;
        align-items: center !important;
        justify-content: center !important;
    }